<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Thymeleaf + Spring Security</title>
</head>
<body>
<div class="container">
    Edit Profile Page!!

<!--    <form-->
<!--            action="/profiles/aldemoralinator"-->
<!--            method="put"-->
<!--    >-->
<!--        Username: <input type="text" value="updateduser" /> <br />-->
<!--        <input type="submit" value="update profile"  />-->
<!--    </form>-->

    <form
        th:action="@{/profiles/{username}/update(username=${user.username})}"
        th:object="${user}"
        method="post"
    >
        Introduction: <input type="text" th:field="*{introduction}" /> <br />
        <input type="submit" value="update profile"  />
    </form>


</div>
</body>
</html>

