<div 
    class="eventlist__component"
    th:fragment="eventlist" 
    th:each="event : ${events}"
>
    <div th:class="eventlist__link__box"  
         th:classappend="${id == event.id} ? 'active' : 'inactive'"> 

        <div class="eventlist__box__item">
            <span class="eventlist__box__label">Title: </span>
            <span th:text="${event.slug}"></span>
        </div>

        <div class="eventlist__box__item">
            <span class="eventlist__box__label">Location </span>
            <span th:text="${event.location}"></span>
        </div>

        <div class="eventlist__box__item">
            <span class="eventlist__box__label">Description: </span>
            <span th:text="${event.description}"></span>
        </div>
        
        <a class="eventlist__link" th:href="@{/dashboard(id=${event.id})}">see players</a> 
        
        <form
            class="margin-top"
            th:action="@{/events/{slug}/join(slug=${event.slug})}"
            method="post"
        >
            <input class="eventlist__link" type="submit" value="join"  />
        </form>
    </div>
 
    

</div>