<!DOCTYPE html>
<html lang="en" 
    xmlns:th="http://www.thymeleaf.org"
    xmlns="http://www.w3.org/1999/xhtml"
    th:replace="fragments/layout :: 
        layout(~{::title}, ~{::link}, ~{::main}, ${currentUser})">
<head >
    
    <title th:fragment="title">DASHBOARD</title>

    <link  
        th:fragment="link"
        rel="stylesheet" 
        th:href="@{/static/css/dashboard.css}" 
        type="text/css" />
    
    <link  
        th:fragment="link"
        rel="stylesheet" 
        th:href="@{/static/css/eventlist.css}" 
        type="text/css" />
    
</head>
<body>
<div class="main" th:fragment="main">
    
    <div class="options-box">
<!--        <div class="options-box__filter">all</div>
        <div class="options-box__filter">my events</div>
        <a class="options-box__create" href="/events/create" >
            create
        </a>    -->
        <a class="options-box__filter" href="/events/create" >
            create
        </a>
    </div>
    
    
    <div class="main-box">
        
        <div class="main-box__events">
            <h2 class="main-box__header">Events</h2>
            <div th:replace="fragments/lists/eventlist :: eventlist(events=${events}, id=${id})" />
        </div>
        
        <div class="main-box__player">
            <h2 class="main-box__header">Players</h2>
            
            <div th:if="${eventSubs}">
                <div th:replace="fragments/lists/playerlist :: playerlist(eventSubs=${eventSubs})" />
            </div>
        </div>
            
    </div>
</div>
</body>
</html>