<!DOCTYPE html>
<html lang="en" 
    xmlns:th="http://www.thymeleaf.org"
    xmlns="http://www.w3.org/1999/xhtml"
    th:replace="fragments/base :: base(~{::title}, ~{::link}, ~{::home})">
<head >
    
    <title th:fragment="title">HOME</title>

    <link  
        th:fragment="link"
        rel="stylesheet" 
        th:href="@{/static/css/home.css}" 
        type="text/css" />
    
</head>
<body>
<div class="main" th:fragment="home">
    
    <h1 class="main-header">Philippine Airsoft Community</h1>
    <h2 class="intro-header">Airsoft Event Platform</h2>
    <a class="login" href="/oauth2/authorization/google" >
        join <span class="login__google">via google</span>
    </a>
    <h3 class="header">
        Join Now, Find an Event, Register, and Get Ready for Battle
    </h3>
    
</div>
</body>
</html>