<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Thymeleaf + Spring Security</title>
</head>
<body>
<div class="container">
    CREATE SUBSCRIPTION
    
    <form
        th:action="@{/projects}"
        method="post"
    >
        Project Name: <input type="text" name="name" th:required="required" /> <br />
        Description: <input type="text" name="description" /> <br />
        <input type="submit" value="create project"  />
    </form>

</div>
</body>
</html>

